.container{
    display: flex;
    flex-wrap: wrap;
    width: 256px;
}

.square-div{
    /* border: 1px solid black; */
    height: 16px;
    width: 16px;
}

.square-div:hover{
    background-color: red;
}