.container{
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    border: 1px solid black;
}

.square-div{
    /* border: 1px solid black; */
    /* height: 60px;
    width: 60px; */
    transition: all 0.15s
}

.square-div:hover{
    background-color: grey;
    transition: none;
}

button {
    margin-bottom: 1%;
}